@font-face {
  font-family: "iconfont"; /* Project id 3459269 */
  src: url('iconfont.woff2?t=1671336199538') format('woff2'),
       url('iconfont.woff?t=1671336199538') format('woff'),
       url('iconfont.ttf?t=1671336199538') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-print2:before {
  content: "\eb48";
}

.icon-print3:before {
  content: "\e64b";
}

.icon-notice2:before {
  content: "\e60e";
}

.icon-take-self:before {
  content: "\e644";
}

.icon-activity-fill:before {
  content: "\e88d";
}

.icon-shop-fill:before {
  content: "\e60c";
}

.icon-task:before {
  content: "\e6b8";
}

.icon-sp:before {
  content: "\e661";
}

.icon-sign:before {
  content: "\e664";
}

.icon-pack:before {
  content: "\e61b";
}

.icon-spec:before {
  content: "\e603";
}

.icon-origin-price:before {
  content: "\e602";
}

.icon-price:before {
  content: "\e8cc";
}

.icon-desc:before {
  content: "\e62a";
}

.icon-name:before {
  content: "\e6b5";
}

.icon-sort:before {
  content: "\e649";
}

.icon-order:before {
  content: "\e633";
}

.icon-info:before {
  content: "\e913";
}

.icon-goods:before {
  content: "\e601";
}

.icon-groups:before {
  content: "\e648";
}

.icon-shop:before {
  content: "\e736";
}

.icon-phone:before {
  content: "\e88b";
}

.icon-del:before {
  content: "\e8b6";
}

.icon-rate:before {
  content: "\e688";
}

.icon-hot:before {
  content: "\e61a";
}

.icon-cart:before {
  content: "\e70b";
}

.icon-search:before {
  content: "\e8b9";
}

.icon-notice:before {
  content: "\e64a";
}

.icon-kefu:before {
  content: "\e600";
}

.icon-activity-deadline:before {
  content: "\e63c";
}

.icon-renshu:before {
  content: "\e678";
}

.icon-huodong1:before {
  content: "\f9e9";
}

.icon-pic:before {
  content: "\e674";
}

.icon-edit:before {
  content: "\e60b";
}

.icon-protocol:before {
  content: "\e610";
}

.icon-cash:before {
  content: "\e7e4";
}

.icon-status:before {
  content: "\e63b";
}

.icon-publish:before {
  content: "\ec46";
}

.icon-gender:before {
  content: "\e605";
}

.icon-avatar:before {
  content: "\e622";
}

.icon-false:before {
  content: "\e614";
}

.icon-true:before {
  content: "\e609";
}

.icon-question:before {
  content: "\e6b4";
}

.icon-scard:before {
  content: "\e76d";
}

.icon-student:before {
  content: "\e7ac";
}

.icon-fuzhi:before {
  content: "\e8b0";
}

.icon-24gf-phoneLock:before {
  content: "\e968";
}

.icon-24gf-phoneLoudspeaker:before {
  content: "\e969";
}

.icon-wofabude:before {
  content: "\e630";
}

.icon-weituo-zhuanyi-02:before {
  content: "\e78a";
}

.icon-coupon:before {
  content: "\e61f";
}

.icon-feiyongbaoxiaoshenqing-02:before {
  content: "\e742";
}

.icon-beizhu-biaozhu-04:before {
  content: "\e879";
}

.icon-jihuaxiangqing:before {
  content: "\e660";
}

.icon-qiehuan:before {
  content: "\e789";
}

.icon-youhuiquan:before {
  content: "\e6b2";
}

.icon-wodeshenqing:before {
  content: "\e6e0";
}

.icon-zhinanzhen:before {
  content: "\e652";
}

.icon-dingdan:before {
  content: "\e8ae";
}

.icon-dizhi:before {
  content: "\e612";
}

.icon-yonghuziliaoxiugai:before {
  content: "\e63e";
}

.icon-wode_2:before {
  content: "\e6e3";
}

.icon-shouye:before {
  content: "\e628";
}

.icon-icon-person:before {
  content: "\e608";
}

.icon-shoujihao:before {
  content: "\e60a";
}

.icon-play:before {
  content: "\e619";
}

.icon-clear:before {
  content: "\e607";
}

.icon-activity:before {
  content: "\e641";
}

.icon-community:before {
  content: "\e62e";
}

.icon-print:before {
  content: "\e604";
}

.icon-move:before {
  content: "\e61e";
}

.icon-community2:before {
  content: "\e613";
}

.icon-repair:before {
  content: "\e676";
}

.icon-running:before {
  content: "\e60d";
}

.icon-software:before {
  content: "\e9b2";
}

.icon-naozhong:before {
  content: "\e64e";
}

.icon-local:before {
  content: "\e6c5";
}

.icon-arrow-right:before {
  content: "\e637";
}

.icon-arrow-left:before {
  content: "\e638";
}

.icon-arrow-bottom:before {
  content: "\e639";
}

.icon-arrow-top:before {
  content: "\e63a";
}

.icon-xiala:before {
  content: "\e627";
}

.icon-feiji-xianxing:before {
  content: "\e6ad";
}

