@font-face {
  font-family: "iconfont"; /* Project id 3266781 */
  src: url('iconfont.woff2?t=1672575423466') format('woff2'),
       url('iconfont.woff?t=1672575423466') format('woff'),
       url('iconfont.ttf?t=1672575423466') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-express:before {
  content: "\ebc1";
}

.icon-shop:before {
  content: "\e635";
}

.icon-activity2:before {
  content: "\e606";
}

.icon-update2:before {
  content: "\e6e4";
}

.icon-update:before {
  content: "\e823";
}

.icon-out:before {
  content: "\e89d";
}

.icon-icon-test:before {
  content: "\e640";
}

.icon-xiaochengxu:before {
  content: "\e63e";
}

.icon-taker:before {
  content: "\e60e";
}

.icon-community2:before {
  content: "\e613";
}

.icon-community:before {
  content: "\e62e";
}

.icon-software:before {
  content: "\e9b2";
}

.icon-play:before {
  content: "\e619";
}

.icon-clear:before {
  content: "\e607";
}

.icon-activity:before {
  content: "\e641";
}

.icon-print:before {
  content: "\e604";
}

.icon-move:before {
  content: "\e61e";
}

.icon-repair:before {
  content: "\e676";
}

.icon-running:before {
  content: "\e60d";
}

.icon-service:before {
  content: "\e738";
}

.icon-add:before {
  content: "\e634";
}

.icon-change:before {
  content: "\e61d";
}

.icon-city2:before {
  content: "\e83a";
}

.icon-school:before {
  content: "\e83d";
}

.icon-wxpay:before {
  content: "\e65a";
}

.icon-alipay:before {
  content: "\e605";
}

.icon-sending:before {
  content: "\e759";
}

.icon-canceled:before {
  content: "\e616";
}

.icon-closed:before {
  content: "\e691";
}

.icon-wait-pay:before {
  content: "\e612";
}

.icon-wait-receive:before {
  content: "\e63d";
}

.icon-refunded:before {
  content: "\e623";
}

.icon-wait-confirm:before {
  content: "\e62d";
}

.icon-income:before {
  content: "\e678";
}

.icon-trade:before {
  content: "\e67f";
}

.icon-order-complete:before {
  content: "\e679";
}

.icon-menu:before {
  content: "\e62c";
}

.icon-arrow-right:before {
  content: "\e637";
}

.icon-rider:before {
  content: "\e650";
}

.icon-coupon:before {
  content: "\e6e3";
}

.icon-setting:before {
  content: "\e795";
}

.icon-city:before {
  content: "\e839";
}

.icon-agent:before {
  content: "\e651";
}

.icon-password:before {
  content: "\e69c";
}

.icon-admin:before {
  content: "\e601";
}

.icon-more:before {
  content: "\e602";
}

.icon-mobile:before {
  content: "\e6b9";
}

.icon-refresh:before {
  content: "\e60a";
}

.icon-pic-add:before {
  content: "\e636";
}

.icon-watch:before {
  content: "\e603";
}

.icon-edit:before {
  content: "\e608";
}

.icon-delete:before {
  content: "\e629";
}

.icon-nothing:before {
  content: "\e64c";
}

.icon-admin2:before {
  content: "\e761";
}

.icon-rementuijian:before {
  content: "\e610";
}

.icon-dashboard:before {
  content: "\e8e1";
}

.icon-drawer:before {
  content: "\e600";
}

.icon-label:before {
  content: "\e886";
}

.icon-template:before {
  content: "\e72e";
}

.icon-user-maner:before {
  content: "\e61a";
}

.icon-avatar:before {
  content: "\e677";
}

.icon-pic:before {
  content: "\e9f4";
}

.icon-weixin:before {
  content: "\e631";
}

